header{
  display: none!important;
}

header + .container-fluid > div:nth-of-type(3){
  margin:0px;
  display: none!important;
}

header + .container-fluid + section div:nth-of-type(2){
  margin: 0px 0px !important;
}

header + .container-fluid > .sticky-outer-wrapper > .sticky-inner-wrapper > section div:nth-of-type(2) div{
  margin-left: 5px;
  border: 2px dashed #AAAAAA;
  border-radius: 10px;
}

header + .container-fluid div:nth-of-type(3) > button:nth-of-type(1) {
  display: none;
}

.custom-recipe-filter-link-container ~ div {
  display: none!important;
}

.container-fluid {
  background-color: #f8f8f8;
  margin: auto;
  padding: auto !important;
}

.container-fluid > section > div {
  min-width: 100%;
}
.sticky-outer-wrapper {
  margin-bottom: 20px;
}

.sticky-inner-wrapper > section > div:nth-of-type(2) > p {
  display: none;
}

.sticky-inner-wrapper > section > div {
  display: flex;
  align-items: center;
  margin:0px;
}
 
.sticky-inner-wrapper section {
  display: flex !important;
  justify-content: center;
}

.sticky-inner-wrapper > section > div button {
  display: none;
}
.sticky-inner-wrapper > section > div button > svg {
  display: none;
 }

.sticky-outer-wrapper>.sticky-inner-wrapper>section>a {
  position: absolute;
  left: 32px;
}

.sticky-outer-wrapper>.sticky-inner-wrapper>section>div.flex-align-center{
  pointer-events: none!important;
}

.sticky-outer-wrapper>.sticky-inner-wrapper>section>div.flex-align-center>div{
  border:1px dashed #AAAAAA;
}

.container-fluid section {
  box-shadow: none;
}

.container-fluid section div.row > div.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 30px;
  padding: 0px 81px;
  min-width: 100% !important;
  padding-bottom:40px;
}

.container-fluid > div:nth-of-type(2) {
  margin: auto;
}

.container-fluid > div:nth-of-type(2) > div {
  display: none !important;
}

.container-fluid > div:last-child(1) button {
  display: none;
}

.container-fluid > section > div.row > div.flex > div.card {
  min-width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
}

.card-body {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  min-height: 0px !important;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.card-body > p {
  display: auto;
}

.card-body > div:nth-last-child(1) {
  margin-top: 0px !important;
  width: 110px;
  height: 45px;
}

.card-body > div:nth-last-child(1) + div {
  display: none;
}

.card-text {
  display: none;
}

.card-title {
  font-size: 16px;
  height: 0px !important;
  line-height: 24px !important;
}

.card > div > p {
  display: none;
  height: 0px !important;
}

.LazyLoad button {
  display: none !important;
}

.head-count-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: baseline;
  margin-right: 48px!important;
  align-items: normal!important;
}
.custom-basket-heading {
  font-weight: 800;
  font-size: 25px;
  line-height: 40px;
  margin: 0px;
}
.custom-basket-count {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
}

.card-subtitle, .card-text:last-child{
  width: -webkit-fill-available;
}

.J2hCJtFJF{
  display: inline-table;
}

.card-body div:nth-last-child(1)>button.disabled {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-filter-li-hide{
  display:none!important;
}

.custom-continue-link {
  bottom: auto;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  background-color: #d4d4d4;
  text-decoration: none!important;
  color: white!important;
  border: none;
  color: white;
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-left:8px;
}

.MuiPaper-root div:nth-of-type(2) ul:nth-of-type(3) {
  display: none;
}

.container-fluid section {
  box-shadow: none;
  margin-top:0px!important;
}

.container-fluid section div.row > div.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-x: unset!important;
  row-gap: 40px;
  column-gap: 30px;
  padding: 0px 81px;
  min-width: 100% !important;
  padding-bottom:40px;
}

.container-fluid > div:nth-of-type(2) {
  margin: auto;
}

.container-fluid > div:nth-of-type(2) > div {
  display: none !important;
}

.container-fluid > div:last-child(1) button {
  display: none;
}

.container-fluid > section > div.row > div.flex > div.card {
  min-width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
}

.custom-veg-label{
  display: block!important;
  position: relative;
  top:0px;
}

.card-body > div:nth-of-type(1) {
  position: absolute;
  bottom: -34px;
  left: 0px;
}

.card-title {
  font-size: 16px;
  height: 0px !important;
  line-height: 24px !important;
}

.card > div > p {
  display: none;
  height: 0px !important;
}

.LazyLoad button {
  display: none !important;
}

.custom-recipe-filter-link {
  border: none!important;
  width: auto;
  float: right;
  background-color: #f8f8f8;
  text-decoration: underline;
  margin-top:27px;
  margin-bottom: 27px;
  margin-right: 41px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.custom-addcart-heading {
  margin: 0;font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}

.custom-continue-button{
  background-color: #63a431!important;
  pointer-events: visible;
}

.container-fluid div:nth-of-type(3)>button.flex-center {
  display: none;
}

.container-fluid div:nth-of-type(3)>div.flex {
  display: none!important;
}

.custom-recipe-filter-link-container {
  width: 100%!important;
  margin: -20px 0 0 !important;
  padding: 0px;
}

.container-fluid > div.d-flex {
  display: none!important;
}

.card-body div:nth-last-child(1) {
  width: 120px;
  height: 45px;
}

.card div.card-body > a > div {
  width: 176px;
  height: auto!important;
}

.m2g_6pmcU div {
  display: none;
}

.custom-popup-show .MuiDrawer-root{
  display: block !important;
}
.MuiPaper-root div:nth-of-type(2)>ul>li{
  padding:20px 29px 20px 13px!important;
}

@media (max-width: 1439px) {
  .container-fluid section div.row > div.flex{
    padding-bottom:40px!important;
  }
  .container-fluid section div.row > div.flex {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px 44px;
  }
}

@media (max-width: 1023px) {
  .container-fluid section div.row > div.flex{
    padding-bottom:40px!important;
  }
  .custom-recipe-filter-link {
    border: none!important;
    width: auto;
    float: left;
    margin-left: 0px;
    margin-top: 18px;
    margin-bottom: 21px;
    background-color: #f8f8f8;
    text-decoration: underline;
    padding: 0px!important;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .container-fluid section div.row > div.flex {
    grid-template-columns: 1fr 1fr;
    padding: 0px 22px;
  }
  .custom-continue-link {
    background-color: #d4d4d4;
    border: none;
    color: white;
    width: 125px;
    height: 45px;
    font-weight: bold;
    margin-left:4px!important;
    text-decoration: none!important;
    color: white!important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
   
  .sticky-inner-wrapper > section > div button > svg {
    display: none;
  }
}

@media (max-width: 766px) {
  .sticky-outer-wrapper>.sticky-inner-wrapper>section>a{
    position: absolute;
    left:14px;
  }
  .container-fluid section div.row > div.flex{
    padding-bottom:40px!important;
  }
  .container-fluid section div.row > div.flex {
    grid-template-columns: 1fr;
    padding: 0px 11px;
  }
  header+.container-fluid>.sticky-outer-wrapper>.sticky-inner-wrapper>section div:nth-of-type(2) div{
    border: 1px dashed #AAAAAA;
    border-radius: 10px;
    width: 45px;
    height:45px;
  }  
  header+.container-fluid>.sticky-outer-wrapper>.sticky-inner-wrapper>section div:nth-of-type(2) img{
    border-radius: 10px;
    width: 45px;
    height:45px;
  }  
  .sticky-inner-wrapper{
    margin:0px!important;
  }
  .sticky-inner-wrapper section {
    display: flex !important;
    flex-direction: column!important;
    justify-content: center;
    padding-bottom: 0px;
  }
  .head-count-container {
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline!important;
    margin: 0px!important;
  }
  .custom-basket-heading{
    font-weight: 800;
    font-size: 20px;
    line-height: 32px;
  }
  .custom-basket-count {
    margin-left: 48px!important;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-right: 0px !important;
  }
}

@media (max-width: 375px) {
  .container-fluid section div.row > div.flex{
    padding-bottom:40px!important;
  }

  .container-fluid section div.row > div.flex {
    grid-template-columns: 1fr;
    padding: 0px 11px;
  }
  .sticky-inner-wrapper{
    margin:0px!important;
  }
  
  .head-count-container{
    width: 100%;
    margin-right:0px!important;
  }
  .custom-basket-count{
    margin:0px!important;
    margin-right:0px!important;
  }
  .custom-recipe-filter-link{
    margin-right:0px!important;
  }
}
