header{
    display: none!important;
  }
  
  .container-fluid {
    background-color: #f2f2f2;
    margin: auto;
    padding: auto !important;
  }
  
  .sticky-inner-wrapper > section > div button {
    bottom: auto;
  }
  
  .sticky-inner-wrapper > section > div button {
    font-size: 14px;
    line-height: 17px;
  }
  
  .sticky-inner-wrapper > section > div button {
    background-color: #d4d4d4;
    border: none;
    color: white;
    width: 180px;
    height: 45px;
  }
  
  .sticky-inner-wrapper > section > div p {
    display: none;
  }
  
  .sticky-inner-wrapper section div div {
    width: 78px;
    height: 78px;
    min-width: 78px;
    border: 3px dashed #bcb6b6;
    background-color: #f2f2f2;
  }
  .sticky-inner-wrapper > section > div {
    display: flex;
    align-items: center;
  }
  
  .container-fluid section {
    box-shadow: none;
  }
  
  .container-fluid section div.row > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 30px;
    padding: 0px 81px;
    min-width: 100% !important;
  }
  
  .container-fluid > div:nth-of-type(2) {
    margin: auto;
    padding-right: 81px !important;
  }
  
  .container-fluid > div:nth-of-type(2) > button {
    display: none !important;
  }
  
  .container-fluid > div:nth-of-type(2) > div {
    display: none !important;
  }
  
  .container-fluid > div:last-child(1) button {
    display: none;
  }
  
  .container-fluid > section > div.row > div.flex > div.card {
    min-width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  
  .card-body {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    min-height: 0px !important;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  
  .card-body > p {
    display: auto;
  }
  
  .card-body > div:nth-of-type(1) {
    display: none;
  }
  
  .card-body > div:nth-last-child(1) {
    margin-top: 0px !important;
    width: 110px;
    height: 45px;
  }
  
  .card-body > div:nth-last-child(1) + div {
    display: none;
  }
  
  .card-text {
    height: 0px !important;
  }
  
  .card-title {
    font-size: 16px;
    height: 0px !important;
    line-height: 24px !important;
  }
  
  .card > div > p {
    display: none;
    height: 0px !important;
  }
  
  .LazyLoad button {
    display: none !important;
  }
  
  @media (max-width: 1439px) {
    .container-fluid section div.row > div {
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0px 44px;
    }
  }
  
  @media (max-width: 1023px) {
    .container-fluid section div.row > div {
      grid-template-columns: 1fr 1fr;
      padding: 0px 22px;
    }
  }
  
  @media (max-width: 375px) {
    .container-fluid section div.row > div {
      grid-template-columns: 1fr;
      padding: 0px 11px;
    }
  }
  
  @media (max-width: 374px) {
    .card-body > div:nth-last-child(1) {
      width: 80px;
    }
  }
  

header {display: none;}